.form-control {
    border: 1px solid #ccc;
    padding: 10px; 
    width: 300px;
  }
  
  .control-error {
    border: 1px solid red;
  }

.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.form-group-radio .form-control {
  width: 30px;
}

.title {
  font-size: 3rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0em;
}

.classes-title {
  padding-top: 80px;
  padding-bottom: 24px;
  flex-grow: 1;
  text-align: center;
  background-color: #fafafa;
  width: 100%;
}

.form-group {
  margin: 20px;
  width: 400px;
}

button {
  width: 200px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}